.header {
  position: relative;
  display: flex;
  gap: 40px;
  padding: 20px;
  background-color: #126cc8;
}

.header__title {
  margin: 0;
  color: #ffffff;
}

.menu {
  cursor: pointer;
}

.header__settings {
  position: absolute;
  right: 20px;
  margin: 0;
  text-align: center;
  color: #ffffff;
}
